{% extends 'core/base.html' %}

{% load static %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4">Frequently Asked Questions</h1>
    <p class="lead">Find answers to common questions about PrimaryED CMS.</p>
    <hr class="my-4">

    <div class="faq">
        <h5 class="question">Q: What types of educational resources are available in PrimaryED CMS?</h5>
        <p class="answer">A: PrimaryED CMS offers a diverse range of educational resources including interactive quizzes, detailed lesson plans, and engaging exercises tailored for primary education.</p>
    </div>

    <div class="faq">
        <h5 class="question">Q: Is PrimaryED CMS suitable for all primary education levels?</h5>
        <p class="answer">A: Yes, our platform is designed to cater to various levels of primary education, offering materials suitable for different age groups and learning stages.</p>
    </div>

    <div class="faq">
        <h5 class="question">Q: How can I access the quizzes and exercises?</h5>
        <p class="answer">A: Quizzes and exercises can be accessed by registering on our platform. Once registered, you can browse through our extensive library and select resources as per your needs.</p>
    </div>

    <div class="faq">
        <h5 class="question">Q: Can I contribute my own resources to PrimaryED CMS?</h5>
        <p class="answer">A: Absolutely! We encourage educators to contribute their own resources. Please contact us for more information on how to share your materials.</p>
    </div>

    <div class="faq">
        <h5 class="question">Q: Is there a subscription fee for using PrimaryED CMS?</h5>
        <p class="answer">A: PrimaryED CMS offers both free and premium content. While a significant portion of our resources are available free of charge, some specialised content requires a subscription.</p>
    </div>
</div>
{% endblock %}
