{% extends 'core/base.html' %}

{% load static %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4">Subjects</h1>
    <p class="lead">Explore our wide range of educational subjects.</p>
    <hr class="my-4">

    {% if subjects %}
    <div class="row">
        {% for subject in subjects %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ subject.subject }}</h5>
                    <p class="card-text flex-grow-1">{{ subject.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'resource_list' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        No subjects available.
    </div>
    {% endif %}
</div>
{% endblock %}
