html,
body {
  height: 100%;
  margin: 0; /* Reset default margin */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use viewport height to ensure full height */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Rest of your CSS */

.footer {
  background-color: #343a40; /* Same as navbar for consistency */
  color: #d3d3d3; /* Grey text color */
}

.footer a {
  color: #d3d3d3; /* Grey text color for links */
}

.footer a:hover {
  color: white; /* Change color on hover */
}

.footer h5 {
  color: white; /* White color for headings */
  margin-bottom: 15px; /* Spacing below headings */
}

.btn-primary {
  background-color: #f97141;
  border-color: #f97141;
}

.btn-primary:hover {
  background-color: #ff7f5f;
  border-color: #ff7f5f;
}

/* Style for the image container */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px; /* Optional: Rounded corners */
}

/* Image styling */
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: for rounded corners */
  opacity: 70%;
  transition: transform 0.5s, opacity 0.5s; /* Apply transition to both transform and opacity */
}

.img-fluid:hover {
  transform: scale(1.1);
  opacity: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .jumbotron .row {
    flex-direction: column-reverse;
  }

  .jumbotron img {
    margin-bottom: 20px;
  }
}

.small-text {
  font-size: 0.9rem; /* Adjust the size as needed */
}

.rem2btm {
  margin-bottom: 2rem;
}

.paginator-link {
  background-color: #f97141; /* Same as .btn-primary */
  border-color: #f97141; /* Same as .btn-primary */
  color: white; /* Assuming you want white text */
}

.paginator-link:hover {
  background-color: #ff7f5f; /* Same as .btn-primary:hover */
  border-color: #ff7f5f; /* Same as .btn-primary:hover */
}
