/* Base Styles */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Layout */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer Styles */
.footer {
  background-color: #343a40;
  color: #d3d3d3;
}

.footer a {
  color: #d3d3d3;
}

.footer a:hover {
  color: white;
}

.footer h5 {
  color: white;
  margin-bottom: 15px;
}

/* Button Styles */
.btn-primary {
  background-color: #f97141;
  border-color: #f97141;
}

.btn-primary:hover {
  background-color: #ff7f5f;
  border-color: #ff7f5f;
}

/* Image Container Styles */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 70%;
  transition: transform 0.5s, opacity 0.5s;
}

.img-fluid:hover {
  transform: scale(1.1);
  opacity: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .jumbotron .row {
    flex-direction: column-reverse;
  }

  .jumbotron img {
    margin-bottom: 20px;
  }
}

/* Utility Classes */
.small-text {
  font-size: 0.9rem;
}

.rem2btm {
  margin-bottom: 2rem;
}

/* Card Footer */
.card-footer {
  border-top: none;
  background: transparent;
}

/* Social Icons */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin-right: 10px;
  color: #d3d3d3;
  font-size: 20px;
}

.footer .social-icons .social-icon:hover {
  color: #ff7f5f;
}
